*.a
opencog.log

# misc binaries
bin
build
opencog/server/cogserver
opencog/atomspace/type-definer
opencog/persist/sniff
examples/extending/derivedserver
examples/hopfield/hopfield
examples/server/derivedserver
opencog/embodiment/DestinCudaAlt/bin/destin
opencog/embodiment/DestinCudaAlt/bin/kerneltest

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# ctest
Testing/
DartTestfile.txt
*UTest.cpp
*UTest

# cpack
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.tgz
*.tar.gz
*.tar.bz2

# deb packaging
build-stamp
debian/files
debian/libatomspace/
debian/libatomspace-dev/
debian/opencog-core/
debian/opencog-core-dev/
debian/opencog-dbg/
debian/opencog-server/
debian/opencog-server-dev/
debian/tmp/

# win32
*.lib
*.pdb
*.exe*
*.ilk
*.dll*
*.nmake
CTestTestfile.cmake

# CTAGS
TAGS

# GNU GLOBAL
GPATH
GRTAGS
GSYMS
GTAGS

# quilt
.pc
patches

cscope.out
lib/opencog-test.conf
# opencog/embodiment/embodiment.conf
# opencog/embodiment/dev_embodiment.conf

# DeSTIN SWIG generated sources
opencog/embodiment/DestinCuda/JavaDestin/gen_src/javadestin/*
opencog/embodiment/DestinCuda/DestinKernelJAVA_wrap.*

# Python bytecode
*.pyc
*.pyo

.idea/.name

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/opencog.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

opencog/python/.idea/.name

opencog/python/.idea/encodings.xml

opencog/python/.idea/inspectionProfiles/profiles_settings.xml

opencog/python/.idea/misc.xml

opencog/python/.idea/other.xml

opencog/python/.idea/modules.xml

opencog/python/.idea/python.iml

opencog/python/.idea/scopes/scope_settings.xml

opencog/python/.idea/testrunner.xml

opencog/python/.idea/vcs.xml

opencog/python/.idea/workspace.xml
